
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# YOLO / ML
# dataset/ # Uncomment if datasets are too large, but keeping for now as they seem small enough for this specific user request context
# *.pt # Keeping models as they are < 100MB
# data/

# OS
.DS_Store
Thumbs.db
